.login{
background-color: #f8f8f8;
height: 100vh;
width: 100vw;
display: grid;
place-items: center;
}
.login_container{
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow:0 1px 3px rgba(10, 3, 3, 0.145) ;
}
.login_container > img{
  object-fit: contain;
  height: 150px;
  margin-bottom: 10px;
}
.login_container > Button {
  margin-top: 10px;
  text-transform: inherit !important;
  background-color: green;
  color: white;
}
.login_container > Button :hover{
  color: green;
}